@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Desktop version of the website */

.nav-menu {
  display: none;
}

.imageone {
  display: none;
}

.mobile-menu {
  display: none;
}

.headline {
  display: none;
}

.nav-menu-desktop {
  display: flex;
  background-color: #272a31;
  justify-content: flex-end;
  padding-right: 54px;
}

.list {
  display: flex;
  list-style-type: none;
  color: white;
}

.list li {
  padding-right: 44px;
}

.header-icon {
  text-decoration: none;
  color: #fff;
}

.navlink-desktop {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.logo-div {
  margin-left: 90px;

  /* display: flex; */
}

.links-div {
  margin-right: 60px;
}

.logolink {
  width: 90px;
  height: 90px;
  position: relative;
  bottom: 15px;
}

.list2 {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 60px;
}

.list2 li {
  padding: 25px;
  align-self: center;
}

.list2 li a {
  text-decoration: none;
  color: #272a31;
}

.list2 li a:hover:not(.border-link) {
  text-decoration: underline;
  text-decoration-color: #ec5342c7;
  text-decoration-thickness: 3px;
}

.border-link {
  border: 5px solid #ec5242;
  padding: 8px 8px;
}

.topdesktop {
    background-image: url('./images/topbg.png');
    background-size: cover;
    height: 200px;
  }

  .topheadingdesktop {
    color: orangered;
    font-size: 34px;
    font-weight: 400;
    position: relative;
    top: 150px;
    left: 105px;
  }

  .topheadingdesktopdiv {
    background-image: url('./images/bgimagedesign.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 350px 0;
    background-color: #fff;
    position: relative;
    left: 65px;
    padding: 45px;
    width: 100%;
    height: 545px;
  }

  .topheadingh1desktop {
    font-size: 50px;
    display: block;
    color: red;
    font-weight: 900;
    background-image: linear-gradient(to bottom right, red, yellow);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #ec0e0e4f;
  }

  .paradivdesktop {
    background-color: #d3d3d3;
    border: 5px solid darkgrey;
    padding: 10px;
    width: 50%;
  }

  .headlineparadesktop {
    color: #272a31;
  }

  .datedivdesktop {
    width: 100%;
  }
  
  .dateheadingdesktop {
    color: #272a31;
    font-weight: 800;
  }

  .locationparadesktop {
    color: #272a31;
  }

  .cover-program-desktop {
    background-image: url('./images/patternbg.png');
    background-repeat: repeat;
    background-position: center;
    background-color: rgb(39, 42, 50);
    padding: 5px;
    width: 100%;
    height: 450px;
  }

  .program-list-desktop {
    text-align: center;
  }

  .program-list-desktop h2 {
    color: #fff;
    margin-top: 20px;
  }

  .hr {
    width: 30px;
    border-color: #ec5242;
    margin-bottom: 16px;
  }

  .desktop-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bg-program-desktop {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow: hidden;
    margin: 0 5px;
    padding: 0 10px;
    height: 250px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    width: 16%;
  }

  .bg-program-desktop li h3 {
    color: #ec5242;
    font-size: 16px;
    padding-left: 2px;
    margin-left: 2px;
    width: auto;
  }

  .bg-program-desktop li p {
    font-size: 14px;
    color: #fff;
    margin-left: 2px;
    padding: 2px;
  }

  .whole-link {
    color: #fff;
    text-decoration: underline;
    margin-top: 30px;
  }

/* Mobile version of the website */

@media screen and (max-width: 768px) {
  .nav-menu-desktop {
    display: none;
  }

  .navlink-desktop {
    display: none;
  }

  .headlinedesktop {
    display: none;
  }

  .cover-program-desktop {
    display: none;
  }

  .nav-menu {
    display: block;
    background-color: #fff;
    background-image: url('./images/topbg.png');
    background-size: cover;
    height: 120px;
  }

  .imageone {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  #cross {
    height: 60px;
    width: 75px;
    cursor: pointer;
  }

  .mobile-menu {
    display: flex;
    flex-direction: row-reverse;
    background: #e24c075b;
    min-height: 100vh;

    /* width: 100vw; */
    width: 0;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 20;
    backdrop-filter: blur(10px);
    transition: 0.6s;
  }

  .mobile-menu ul {
    list-style-type: none;
    margin: 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-menu ul li {
    padding: 10% 5%;
  }

  .mobile-menu li a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .headline {
    display: block;
    background-image: url('./images/bgimagedesign.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 250px 0;
    background-color: #d3d3d3;
    padding: 45px;
    width: 100%;
    height: 850px;
  }
 
  .topheadingh3 {
    color: #ec5242;
  }

  .topheadingh1 {
    font-size: 47px;
    display: block;
    color: red;
    font-weight: 900;
    background-image: linear-gradient(to bottom right, red, yellow);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #ec0e0e4f;
  }

  .paradiv {
    background-color: #d3d3d3;
    border: 5px solid #fff;
    padding: 10px;
    width: 100%;
  }

  .headlinepara {
    color: #272a31;
  }

  .datediv {
    width: 100%;
  }

  .dateheading {
    color: #272a31;
    font-weight: 800;
  }

  .locationpara {
    color: #272a31;
  }

}
